<div class="toc-block">
  <h3 class="docs-section-heading"><%= t("basics.title") %></h3>
  <ul>
    <li class="doc-item"><%= link_to "#{ t("basics.install")}", "#{locale_prefix}/basics/install" %></li>
    <li class="doc-item"><%= link_to "#{ t("basics.start_new_site")}", "#{locale_prefix}/basics/start_new_site" %></li>
    <li class="doc-item"><%= link_to "#{ t("basics.directory_structure")}", "#{locale_prefix}/basics/directory-structure" %></li>
    <li class="doc-item"><%= link_to "#{ t("basics.development_cycle")}", "#{locale_prefix}/basics/development_cycle" %></li>
    <li class="doc-item"><%= link_to "#{ t("basics.build_deploy")}", "#{locale_prefix}/basics/build_and_deploy" %></li>
    <li class="doc-item"><%= link_to "#{ t("basics.frontmatter")}", "#{locale_prefix}/basics/frontmatter" %></li>
    <li class="doc-item"><%= link_to "#{ t("basics.templates")}", "#{locale_prefix}/basics/templates" %></li>
    <li class="doc-item"><%= link_to "#{ t("basics.helper_methods")}", "#{locale_prefix}/basics/helper_methods" %></li>
    <li class="doc-item"><%= link_to "#{ t("basics.layouts")}", "#{locale_prefix}/basics/layouts" %></li>
    <li class="doc-item"><%= link_to "#{ t("basics.partials")}", "#{locale_prefix}/basics/partials" %></li>
    <li class="doc-item"><%= link_to "#{ t("basics.blogging")}", "#{locale_prefix}/basics/blogging" %></li>
  </ul>
</div>

<div class="toc-block">
  <h3 class="docs-section-heading"><%= t("advanced.title") %></h3>
  <ul>
    <li class="doc-item">
      <%= link_to "#{ t("navigation.basics.install")}", "#{locale_prefix}/basics/install" %>
    </li>
    <li class="doc-item">
      <%= link_to "#{ t("navigation.basics.start_new_site")}", "#{locale_prefix}/basics/start_new_site" %>
    </li>
    <li class="doc-item">
      <%= link_to "#{ t("navigation.basics.directory_structure")}", "#{locale_prefix}/basics/directory-structure" %>
    </li>
    <li class="doc-item" >
      <%= link_to "#{ t("navigation.basics.development_cycle")}", "#{locale_prefix}/basics/development_cycle" %>
    </li>
    <li class="doc-item">
      <%= link_to "#{ t("navigation.basics.build_deploy")}", "#{locale_prefix}/basics/build_and_deploy" %>
      </li>
    <li class="doc-item">
      <%= link_to "#{ t("navigation.basics.frontmatter")}", "#{locale_prefix}/basics/frontmatter" %>
      </li>
    <li class="doc-item">
      <%= link_to "#{ t("navigation.basics.templates")}", "#{locale_prefix}/basics/templating_language" %>
      </li>
    <li class="doc-item">
      <%= link_to "#{ t("navigation.basics.helper_methods")}", "#{locale_prefix}/basics/helper_methods" %>
      </li>
    <li class="doc-item">
      <%= link_to "#{ t("navigation.basics.layouts")}", "#{locale_prefix}/basics/layouts" %>
      </li>
    <li class="doc-item">
      <%= link_to "#{ t("navigation.basics.partials")}", "#{locale_prefix}/basics/partials" %>
      </li>
    <li class="doc-item">
      <%= link_to "#{ t("navigation.basics.blogging")}", "#{locale_prefix}/basics/blogging" %>
      </li>
  </ul>
</div>

<div class="toc-block">
  <h3 class="docs-section-heading"><%= t("open_source.title") %></h3>
  <ul>
      <li class="doc-item"><%= t("open_source.custom_extension") %></li>
      <li class="doc-item"><%= t("open_source.template") %></li>
      <li class="doc-item"><%= t("open_source.service") %></li>
      <li class="doc-item"><%= t("open_source.deployment_solution") %></li>
  </ul>
</div>

<div class="toc-block">
  <h3 class="docs-section-heading"><%= t("community.title") %></h3>
  <ul>
    <li class="doc-item"><%= link_to "#{ t("community.extensions")}", "http://directory.middlemanapp.com/#/extensions/all" %></li>
    <li class="doc-item"><%= link_to "#{ t("community.templates")}", "http://directory.middlemanapp.com/#/templates/all" %></li>
    <li class="doc-item"><%= link_to "#{ t("community.deployment")}", "http://directory.middlemanapp.com/#/extensions/deployment/all" %></li>
    <li class="doc-item"><%= link_to "#{ t("community.forum")}", "http://forum.middlemanapp.com/",  :target => "_blank"%></li>
    <li class="doc-item"><%= link_to "#{ t("community.github")}", "https://github.com/middleman/middleman", :target => "_blank" %></li>
    <li class="doc-item"><%= link_to "#{ t("community.built_using_middleman")}", "#{locale_prefix}/community/built_using_middleman" %></li>
  </ul>
</div>
